* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}
.box:hover {
    transform: translateY(-5px);
}
#heading {
    margin-bottom: 20px;
    color:brown;
}
input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid pink;
    margin-bottom: 15px;
    outline: none;
    transition: 0.3s;
}
input:focus {
    border-color: peru;
    box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}
button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: none;
    border-radius: 10px;
    background: palevioletred;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background: powderblue;
    transform: scale(1.03);
}
button:active {
    transform: scale(0.98);
}
#paragraph {
    margin-top: 15px;
    color: brown;
    font-size: 14px;
}